@media (max-width:600px){
    #ramenP, #dumpP,#sushiP, .ramen-info{
text-align: center;
font-size: 2px;
    }
img{
    max-width: 100%;
    height: auto;
}
#ramen-r-link,#home-link{
    font-size: 5px;
    padding: auto;
}
}



body{
    text-align: center;
    color: #371e2c;
    margin-right: 0;
    padding: 0;

}



#home-backround{
    background-image: url(images/pexels-邱-韬-356269.jpg);
    padding-top:175px;
    padding-bottom: 175px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.intro{
    display: flex;
   justify-content: center;
   font-size: 70px;
    color: #371e2c;
    font-weight: bolder;
    border-radius: 6px;
    background-color: RGB(151, 86, 139,0.5);
    padding: 20px;
    margin-bottom: 20px;
    border-radius:20px ;
    font-family: 'Stardom', sans-serif;
   
}



#homeP{
    font-size: 20px;
    line-height: 1.5;
    font-family: sans-serif;
    background-color: RGB(151, 86, 139, 0.5);
    border-radius: 10px;
    
    
}

#ramenP,#dumpP,#sushiP{
    font-size: 24px;
    font-family:
        sans-serif;
    line-height: 1.5;
    text-align: left;
}



.ramen-link,.dump-link,.sushi-link{
    font-size: 20px;
    padding: 20px;
    background-color: #CC63AD;
    text-decoration: none;
    color: white;
    text-align: left;
    border-radius: 10px;
}

.color{
   color: #CC63AD;
}

.dump-link:hover{
    background-color: white;
    border: solid 2px #CC63AD;
    color: #CC63AD;
}

.sushi-link:hover {
    background-color: white;
    border: solid 2px #CC63AD;
    color: #CC63AD;
}

.ramen-link:hover {
    background-color: white;
    border: solid 2px #CC63AD;
    color: #CC63AD;
}




.name{
    text-align: center;
    font-size: 50px;
    font-family: 'Stardom',
        sans-serif;
}

h2 {
    font-family: 'Stardom',
        sans-serif;
    font-size: 60px;
    border-radius: 30px;
   
}
/*Ramen*/

h1{
font-family: 'Stardom',
        sans-serif;
    font-size: 60px;
    border-radius: 30px;
}

.ramen-stars{
    font-size: 40px;
}

.r-intro{
    font-family: sans-serif;
    font-size: 25px;
    
    padding: 10px 60px 10px 60px;
}


    


#home-link,#ramen-r-link{
        font-size: 20px;
       
        color: #CC63AD;
        text-decoration: none;
        font-family: sans-serif;
        text-decoration: underline;
    
    
}

.ramen-info{
    font-size: 19px;
    font-family: sans-serif;
    margin-top: 200px;
    text-align: left;
    line-height: 1.5;


}

.ramen-info-c{
    font-size: 20px;
        font-family: 'Stardom',
            sans-serif; 
        margin-top: 80px;
        text-align: left;
        
}

.ramenH3,#buns{
    font-size: 40px;
        font-family: 'Stardom',
            sans-serif;
            background-color: RGB(151, 86, 139, 0.5);
            border-radius: 30px;
}



p,li{
    text-align: left;
    font-family: sans-serif;
    
}

img{
    vertical-align: center;
}