body{
    text-align: center;
    color: #371e2c;
    margin: 0 ;
    padding: 0;
}

#home-img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#home-backround{
    background-image: url(images/pexels-邱-韬-356269.jpg);
    display: flex;
    justify-content: center;
    border: solid 10px peachpuff;
    border-radius: 20px;
}

.intro{
    font-size: 70px;
    color: #371e2c;
    font-weight: bolder;
    border-radius: 6px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:20px ;
    font-family: 'Stardom', sans-serif;
}

#homeP{
    font-size: 20px;
    line-height: 1.5;
    font-family: sans-serif;
    
}

#ramenP,#dumpP,#sushiP{
    font-size: 24px;
    font-family:
        sans-serif;
    line-height: 1.5;
    text-align: left;
}



.ramen-link,.dump-link,.sushi-link{
    font-size: 20px;
    padding: 20px;
    background-color: #CC63AD;
    text-decoration: none;
    color: white;
    text-align: left;
    border-radius: 10px;
}

.color{
   color: #CC63AD;
}

.dump-link:hover{
    background-color: white;
    border: solid 2px #CC63AD;
    color: #CC63AD;
}

.sushi-link:hover {
    background-color: white;
    border: solid 2px #CC63AD;
    color: #CC63AD;
}

.ramen-link:hover {
    background-color: white;
    border: solid 2px #CC63AD;
    color: #CC63AD;
}

.name{
    text-align: center;
    font-size: 50px;
    font-family: 'Stardom',
        sans-serif;
}

h2{
    font-family: 'Stardom',
        sans-serif;
    font-size: 60px;
    border-radius: 30px;
   
}